/* Project CSS
============================================================
============================================================*/
body{
font-size: 1.6em;
font-family: 'Source Sans Pro', sans-serif;
}

/* HEADER + LOGO ============================== */
#logo {
  width: 250px;
  height: 250px;
  margin-top: 1rem;
  padding: 10px 10px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}
header {
  margin: auto;
  font-family: 'Dancing Script', cursive;
  font-size: 2.4em;
  width:50%;
  text-align: center;
  text-shadow: 2px 1px 1px rgba(0,0,0,0.5)
}

#logoText {
  margin-top: -1rem;
}

/* ABOUT ============================== */
section {
  max-width: 960px;
  margin: auto;
}

#about {
  text-align: center;
  max-width: 1100px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5)
}

hr {
  width: 66%;
  border: 0; height:
  1px; background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#hr1 {
  margin-top: 2rem;
}
#hr2{
  margin-bottom: 2.5rem;
}


/* COMPONENTS ============================== */
h1{
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
  text-align: center;
  margin: 0;
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  color: #d7ceb2;
  text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
  margin: 0;
  font-size: 2.4rem;
  font-weight: 900;
  text-transform: uppercase;
}

h3 {
  text-shadow: 2px 1px 1px rgba(0,0,0,0.5), 0px -2px 35px rgba(255,255,255,0.3), 1px 1px 0px #5c5f72;
  color: #d7ceb2;
  margin: 1rem 0 0 0;
  font-weight: 600;
  text-transform: uppercase;
}

.notFeature p {
  font-size: 1.5rem;
  margin-top: .3rem;
}

body {
    background-image: url('../images/background.png');
}

#componentLibrary{
  padding: 2rem;
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

li:last-child{
  margin-bottom: 1rem;
}

li {
  list-style-type: none;
  margin-top: .3rem;
  font-size: 1.3rem;
  text-shadow: 2px 1px 1px rgba(0,0,0,0.5)
}

li span {
  display: inline-block;
  padding: 0 0.5rem;
  margin-right: .4rem;
  border-right: solid 1px #fff;
  border-left: none;
}

span {
  height: 100%;
}

code {
  font: monospace;
  color: orange;
}

article {
  margin: 1.5rem 0;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  background-color: gray;
  padding: 1.5rem;
  color: #fff;
}

article img {
  display: block;
  width: 100%;
  margin-top:.5rem;
  border: 2px dashed black;
}

#featured p {
  font-size: 1.5rem;
  margin-top: .3rem;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5)
}

#featured li  {
  color: #000;
  list-style-type: none;
  margin-top: .3rem;
  font-size: 1.3rem;
  font-family: 'Source Sans Pro', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3)
}

#featured li span {
    display: inline-block;
    padding: 0 0.5rem;
    margin-right: .4rem;
    border-right: solid 1px #000;
    border-left: none;
  }

#featureTag {
  background-color: #666;
  padding: .5rem 1rem;
  display: inline-block;
  margin-top: -0.4rem;
  margin-bottom: 0.4rem;
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}

#featured {
  background-image: url('../images/background.png');
  border: 4px solid orange;
}

#featured p {
  color: #666;
}

#featured h2 {
  color: #494444;
  text-shadow: 2px 2px 0px #6d6565, 3px 3px 0px #948888;
}

.btn {
  text-align: center;
  width: 25%;
  display: block;
  margin: auto;
  border: 0;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  background: #FFA500;
  padding: 10px 15px;
  font-size: 1rem;
  text-decoration: none;
  color: #000;
}

.btn:hover {
  background: #ff9500;
  text-decoration: none;
}
