<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link href='https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />


</head>
<body>

	<!-- Component -->
	<section>
		<ul>

			<li id="fresh">
				<h2><strong>Fresh</strong><span class="textsize"><span>new faces</span> for any commercial needs</span></h2>
				<a href="#" class="more">Read More</a>
			</li>

			<li id="talented">
				<h2><strong>Talented</strong><span>individuals from around the globe</span></h2>
				<a href="#" class="more">Read More</a>
			</li>

			<li id="agency">
				<h2><span>The leading</span><strong>agency</strong><span>representing actors and models</span></h2>
				<a href="#" class="more">Read More</a>
			</li>

			<li id="model">
				<h2><span>Full-service</span><strong>model</strong><span>new faces for any commercial needs</span></h2>
				<a href="#" class="more">Read More</a>
			</li>


		</ul>
	</section>

	<!-- End Component -->

</body>
</html>
