<!DOCTYPE html>
<html>
<head>
	<title>WSP Drop-Down Nav: Nicholas Noriega Overly</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />


</head>
<body>

	<!-- Component -->
		<!--Logo-->
		<!--End logo-->

			<nav>
				<header>
					<h1><a href="#">Crimzon</a></h1>
					<p>Travel Agency</p>
			 </header>
				  <ul>
						  <li><a href="#">Home</a>
						 	  <ul>
									 <li><a href="#">Company Info</a></li>
									 <li><a href="#">Popular Services</a>
										  <ul>
											   <li><a href="#">Tours</a></li>
												 <li><a href="#">Hotels</a></li>
												 <li><a href="#">Safari</a></li>
										  </ul>
									 </li>
									<li><a href="#">News</a></li>
						   </ul>
						 </li>

						 <li><a href="#">About</a></li>
						 <li><a href="#">Services</a></li>
						 <li><a href="#">Gallery</a></li>
						 <li><a href="#">Contact</a></li>
				  </ul>
			</nav>

	<!-- End Component -->

</body>
</html>
