<!DOCTYPE html>
<html>
<head>
	<title>WSP Drop-Down Nav: Nicholas Noriega Overly</title>

	<link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />


</head>
<body>

	<!-- Component -->
		<!--Logo-->
		<!--End logo-->

			<header>
					<h1><a href="#"><strong>Crimzon</strong></a> Travel Agency</h1>
				 	<nav>
				   	<ul>
				 		  	<li><a href="#">Home</a>
				 		 	  	<ul>
				 					 	<li><a href="#">Company Info</a></li>
				 					 	<li><a href="#">Popular Services</a>
				 						  	<ul>
				 							   	<li><a href="#">Tours</a></li>
				 								 	<li><a href="#">Hotels</a></li>
				 								 	<li><a href="#">Safari</a></li>
				 						  	</ul>
				 					 	</li>
				 						<li><a href="#">News</a></li>
				 		   		</ul>
				 		 	  </li>

				 		 	<li><a href="#">About</a></li>
				 		 	<li><a href="#">Services</a></li>
				 		 	<li><a href="#">Gallery</a></li>
				 		 	<li><a href="#">Contact</a></li>
				   	</ul>
				 	</nav>
			</header>

	<!-- End Component -->

</body>
</html>
