<!DOCTYPE html>
<html>
<head>
	<title>WSP Drop-Down Nav: Nicholas Noriega Overly</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />


</head>
<body>

	<!-- Component -->
		<!--Logo-->
		<!--End logo-->

		<nav>
		    <ul>
					 <!--Logo-->
					 <header class="logo">
			 			<h1><a href="#">Crimzon</a></h1>
			 			<p>Travel agency</p>
			 		 </header>
					 <!--End Logo-->
				   <li><a href="#">Home</a></li>
					 <!-- Add drop downs(HTML) from other file on desktop-->
					 <li><a href="#">About</a></li>
					 <li><a href="#">Services</a></li>
					 <li><a href="#">Gallery</a></li>
					 <li><a href="#">Contact</a></li>
			  </ul>
		</nav>

	<!-- End Component -->

</body>
</html>
