<!DOCTYPE html>
<html>
<head>
	<title>WSP Video CTA: Nicholas Noriega</title>

	<link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />


</head>
<body>

	<!-- Component -->
	<section>

		<article>
			<h2>Providing Excellence</h2>
			<h3>In things we do</h3>
			<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod.</p>
			<a target="_blank" href="#">Read More</a>
	  </article>

		<video autoplay="" loop="" poster="">
			<source src="video/videocta.mp4" type="video/mp4"></source>
		</video>

	</section>

	<!-- End Component -->

</body>
</html>
