/* Component Stylesheet
============================================================
============================================================*/
section {
  font-family: "Montserrat", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 .938em;
  display: block;
}

li {
  width: calc(100% / 4);
  float: left;
  padding: 0 1.1em;
}
ul {
  display: block;
  list-style-type: none;
}

h2 {
  font-size: 3.125em;
  margin-top: .6em;
  margin-bottom: .6em;
}
h3:last-of-type::after {
  content: '';
  bottom: 0;
  left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  position: relative;
  width: 70px;
  height: 8px;
  background: #ffd933;
}
h3:first-of-type {
  margin-top: .750em;
  margin-bottom: -0.25em;
}
h3 {
  font-size: 1.875em;
}
h2, h3 {
  color: #474b4d;
}

#team::before {
  display: block;
  background: url('images/icon1.png') no-repeat center center #ffd933;
}
#fleet::before {
  display: block;
  background: url('images/icon2.png') no-repeat center center #ffd933;
}
#prices::before {
  display: block;
  background: url('images/icon3.png') no-repeat center center #ffd933;
}
#safety::before {
  display: block;
  background: url('images/icon4.png') no-repeat center center #ffd933;
}

li::before {
  content: "";
  width: 8.563em;
  height: 8.563em;
  border-radius: 50%;
  display: block;
}

p {
  color: #bbbaba;
  font-size: 1.3em;
  line-height: 1.4;
}
