<!DOCTYPE html>
<html>
<head>
	<title>WSP Image Slider: Nicholas Noriega Overly</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />


</head>

	<body onload="Slider();">

	 	<!-- Component -->
		<section>

				<ul>

				 		<li id="slide1"></li>

				 		<li id="slide2"></li>

				 		<li id="slide3"></li>

				</ul>

		</section>

	<!-- End Component -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
</body>
</html>
